<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Reviews</title>
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>

	<body>

		<main>


			<ul id="slide-out" class="side-nav">
				<li>
					<div class="user-view">
						<div class="background">
							<img src="images/mmj.jpg">
						</div>
						<a href=""><img class="circle" src="images/baked1.jpg"></a>
						<a href=""><span class="white-text name">About</span></a>
						<a href=""><span class="white-text email">Contact</span></a>
					</div>
				</li>
				<li><a href="#!"><i class="material-icons">cloud</i>Baked One</a></li>
				<li><a href="#!">Baked Two</a></li>
				<li>
					<div class="divider"></div>
				</li>
				<li><a class="subheader">Candy</a></li>
				<li><a class="waves-effect" href="#!">Candy 1</a></li>
			</ul>
			<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>



		</main>

		<footer class="page-footer blue darken-4">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">WeLoveOurEdibles</h5>
					</div>
					<div class="col l4 offset-l2 s12">
						<ul>
							<li><a class="grey-text text-lighten-3" href="/">HOME</a></li>
							<li><a class="grey-text text-lighten-3" href="/about">ABOUT</a></li>
							<li><a class="grey-text text-lighten-3" href=/contact>CONTACT</a></li>
							<li><a class="grey-text text-lighten-3" href="/login">ADMIN</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					© 2018 Copyright - WeLoveOurEdibles
					<!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
				</div>
			</div>

		</footer>

	</body>

	<script type="text/javascript">
		$(document).ready(function() {
			$(".button-collapse").sideNav();
		});
	</script>

</html>