body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  height: auto;
}

img {
  width: 345px;
  border-radius: 5px;
}

.about {
  width: 100%;
  height: 175px;
}

form {
  background-color: #e3f2fd;
  border-radius: 5px;
  padding: 5px;
}